body {
  font-family: "Montserrat", sans-serif;
}
#mxdc-navbar .nav-item > a {
  color: #50e3c2 !important;
  font-weight: bold;
}
#header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
#mxdc-footer {
  background-color: #6f7877;
  height: 150px;
  margin-top: 40px;
}
#mxdc-footer div {
  padding: 0px 15px 0px 0px;
}
#mxdc-footer a {
  font-weight: bold;
  color: white;
}
.card-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.sideways-card-image {
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.card {
  background-color: #e1e1e1;
}
.responsive-container {
  display: flex;
  align-items: center;
}
@media all and (max-width: 768px) {
  .responsive-container > div {
    flex-basis: 100%;
    text-align: center;
  }
}
